* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 5% 15%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 15%;
}

nav {
  display: flex;
  gap: 50px;
}

footer {
  text-align: center;
}
