@font-face {
  font-family: lemon-milk-bold;
  src: url(./lemon_milk/LEMONMILK-Bold.otf);
}
@font-face {
  font-family: lemon-milk-medium;
  src: url(./lemon_milk/LEMONMILK-Medium.otf);
}
@font-face {
  font-family: lemon-milk-regular;
  src: url(./lemon_milk/LEMONMILK-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: lemon-milk-regular, sans-serif;
  background-color: #f7f8f9;
  color: #1f1f1f;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 15%;
}

h1 {
  font-family: lemon-milk-bold;
  font-size: 2rem;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 50px;
  align-items: center;
}

main {
  flex: 1;
  padding: 0% 15%;
}

.hero-title {
  font-size: 4rem;
}

footer {
  text-align: center;
  color: #f7f8f9;
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

button {
  font-family: lemon-milk-medium;
}

.icon:hover {
  transform: scale(1.25);
}

.rainbow-text:hover {
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes slideIn {
  from {
    translate: 100%;
  }
  to {
    translate: 0%;
  }
}
